header.header
    .header__top.top-header
        .container
            .top-header__left
                .header-block
                    +icon('location', 'header-block__icon')
                    p.header-block__text г.Одинцово, ул.Западная, д.13
                .header-block
                    +icon('timetable', 'header-block__icon')
                    p.header-block__text Ежедневно с 09:00 до 18:00
            .top-header__right
                a(href="tel:+74955969611").top-header__phone +7 (495) 596-96-11
                a(href="#popup-callback").callback-link.js-popup-link Заказать звонок
    .header__main.main-header
        .container
            include ../../modules/navigation/sandwich/sandwich
            include ../../components/logo/logo
            include ../../modules/navigation/main-nav/main-nav
            a(href="#popup-callback").phone-mobile.js-popup-link
                +icon('phone', 'phone-mobile__icon')