.popup.popup-callback.mfp-hide#popup-success
    a(href="javascript:void(0);").popup-close
        +icon('close', 'popup-close__icon')
    .request-form.popup-callback__form.form-success
        .request-form__wrap.form-success__wrap
            .form-success__content
                h4.request-form__title.form-success__title Спасибо! Ваша заявка принята!
                p.form-success__desc Наши менеджеры перезвонят вам в течении 15 минут!