.inner
    .container
        .inner__titles
            h1 TEXT h1
            h2 TEXT h2
            h3 TEXT h3
            h4 TEXT h4
            h5 TEXT h5
        p Качественно проведенные лабораторные испытания не только позволят выявить проблемы в электропроводке и своевременно устранить их, но и подгот
        ul
            li Элемент списка 1
            li Элемент списка 2
            li Элемент списка 3
            li Элемент списка 4