.services
    .container
        h2.section-title.services__title Другие наши услуги
        .services__content
            a(href="#").services-item
                .services-item__img
                    img(data-src="images/content/services-item1.jpg").lazyload.services-item__picture
                span.services-item__title Энергоаудит
            a(href="#").services-item
                .services-item__img
                    img(data-src="images/content/services-item2.jpg").lazyload.services-item__picture
                span.services-item__title Разработка программ энергосбережения
            a(href="#").services-item
                .services-item__img
                    img(data-src="images/content/services-item3.jpg").lazyload.services-item__picture
                span.services-item__title Тепловизионное обследование
            a(href="#").services-item
                .services-item__img
                    img(data-src="images/content/services-item4.jpg").lazyload.services-item__picture
                span.services-item__title Устройства молниезащиты и заземления
            a(href="#").services-item
                .services-item__img
                    img(data-src="images/content/services-item5.jpg").lazyload.services-item__picture
                span.services-item__title Монтажные работы