.laboratory
    .container
        .title-arrow
            h2.section-title.laboratory__title Наша лаборатория
            .swiper-navigation.laboratory-navigation
                .swiper-button-next.laboratory-navigation__next
                    +icon('arrow', 'swiper-button-icon')
                .swiper-button-prev.laboratory-navigation__prev
                    +icon('arrow', 'swiper-button-icon')
        .laboratory-slider
            .swiper-container.laboratory-slider__container
                .swiper-wrapper.laboratory-slider__wrapper
                    .swiper-slide.laboratory-item
                        .laboratory-item__img
                            img(data-src="images/content/laboratory.jpg").lazyload.laboratory-item__picture
                    .swiper-slide.laboratory-item
                        .laboratory-item__img
                            img(data-src="images/content/laboratory.jpg").lazyload.laboratory-item__picture
            p.laboratory-slider__text Электроизмерительная электролаборатория предназначена для проведения электроизмерений с целью определения состояния электрических сетей, оборудования, приборов. В нашем штате работают высококвалифицированные сотрудники имеющие достаточный опыт работы и допуск к проведению данного вида работ. Все работы мы выполняем на высоком уровне, относимся к исполнению своих обязанностей ответственно и профессионально. Любой заказ мы выполняем тщательно, аккуратно и быстро.