.timeline
    .container
        h2.section-title.timeline__title Как мы работаем
        .timeline__wrap
            .timeline__line.timeline__top-line
                .timeline-item
                    .timeline-circle
                        img(data-src="images/content/timeline-icon1.png").lazyload.timeline-circle__img
                    .timeline-item__text Вы оформляете заказ на сайте или по телефону
                .timeline-item
                    .timeline-circle
                        img(data-src="images/content/timeline-icon2.png").lazyload.timeline-circle__img
                    .timeline-item__text Рассчитываем стоимость. Заключаем <a href="#" class="timeline-item__link">договор</a>
                .timeline-item
                    .timeline-circle
                        img(data-src="images/content/timeline-icon3.png").lazyload.timeline-circle__img
                    .timeline-item__text Проводим испытания
            .timeline__line.timeline__bottom-line
                .timeline-item
                    .timeline-circle
                        img(data-src="images/content/timeline-icon4.png").lazyload.timeline-circle__img
                    .timeline-item__text Выдаем <a href="#" class="timeline-item__link">протололы</a>
                .timeline-item
                    .timeline-circle
                        img(data-src="images/content/timeline-icon5.png").lazyload.timeline-circle__img
                    .timeline-item__text Закрываем договор
                .timeline-item.timeline-item-finish
                    .timeline-circle