.calculator.lazyload(data-src="images/content/calculator-bg.jpg")
    .calculator__wrap
        .container
            h2.section-title.calculator__title Знаете все параметры объекта?
            p.calculator__desc Заполните полную форму, и мы быстро рассчитаем стоимость работ без выезда
            form.calculator-form
                .calculator-form__group
                    input(type="text" placeholder="Ваше имя:").calculator-form__field
                    input(type="text" placeholder="Ваш телефон:").calculator-form__field.mask-phone
                textarea.calculator-form__textarea
                a(href="#popup-success").btn.calculator-form__btn.js-popup-link Оставить заявку
                p.calculator-form__policy Отправляя форму, вы даете согласие на обработку ваших персональных данных и принимаете нашу политику конфиденциальности. Ваши данные будут в безопасности.
            img(data-src="images/content/calculator-man.png").lazyload.calculator__man