a(href="#").logo
    .logo__img
        img(src="images/general/logo.png" alt="Логотип").logo__picture
    .logo__info
        span.logo__title ООО "ТСКБ"-Гранит
        span.logo__desc Технологическая системная компания