nav.main-nav
    ul.main-nav__list
        li.main-nav__item
            a(href="#").main-nav__link Главная
        li.main-nav__item
            a(href="#").main-nav__link Услуги
            ul.dropdown-menu.main-nav__dropdown
                li.dropdown-menu__item
                    a(href="#").dropdown-menu__link Энергоаудит
                li.dropdown-menu__item
                    a(href="#").dropdown-menu__link Разработка программ энергосбережения
                li.dropdown-menu__item
                    a(href="#").dropdown-menu__link Тепловизионное обследование
                li.dropdown-menu__item
                    a(href="#").dropdown-menu__link Устройства молниезащиты и заземления
                li.dropdown-menu__item
                    a(href="#").dropdown-menu__link Монтажные работы
        li.main-nav__item
            a(href="#").main-nav__link Лицензия
        li.main-nav__item
            a(href="#").main-nav__link О нас
        li.main-nav__item
            a(href="#").main-nav__link Задать вопрос
        li.main-nav__item
            a(href="#").main-nav__link Контакты