extends layouts/default

block variables
	- const title = "Главная страница"

block content
	include ../blocks/modules/header/header
	include ../blocks/modules/banner/banner
	include ../blocks/modules/info/info
	include ../blocks/modules/protocols/protocols
	include ../blocks/modules/price/price
	include ../blocks/modules/forms/calculator/calculator
	include ../blocks/modules/timeline/timeline
	include ../blocks/modules/reviews/reviews
	include ../blocks/modules/laboratory/laboratory
	include ../blocks/modules/services/services
	include ../blocks/modules/forms/callback/callback
	include ../blocks/modules/map/map
	include ../blocks/modules/footer/footer
block scripts
	script(src="js/vendor/libs.min.js")
	script(src="js/main.min.js")