.reviews
    .container
        .title-arrow
            h2.section-title.reviews__title Отзывы о нашей работе
            .swiper-navigation.reviews-navigation
                .swiper-button-next.reviews-navigation__next
                    +icon('arrow', 'swiper-button-icon')
                .swiper-button-prev.reviews-navigation__prev
                    +icon('arrow', 'swiper-button-icon')
        .reviews-slider
            .swiper-container.reviews-slider__container
                .swiper-wrapper.reviews-slider__wrapper
                    .swiper-slide.reviews-item
                        .reviews-item__wrap
                            img(data-src="images/content/reviews-item1.png").lazyload.reviews-item__img
                    .swiper-slide.reviews-item
                        .reviews-item__wrap
                            img(data-src="images/content/reviews-item2.png").lazyload.reviews-item__img
                    .swiper-slide.reviews-item
                        .reviews-item__wrap
                            img(data-src="images/content/reviews-item3.png").lazyload.reviews-item__img
                    .swiper-slide.reviews-item
                        .reviews-item__wrap
                            img(data-src="images/content/reviews-item4.png").lazyload.reviews-item__img
                    .swiper-slide.reviews-item
                        .reviews-item__wrap
                            img(data-src="images/content/reviews-item1.png").lazyload.reviews-item__img