.sandwich {
  display: none;

  @media screen and(max-width: 768px) {
    display: block;
  }

  &__open-btn {
    display: block;
  }

  &__line {
    display: block;
    width: 26px;
    height: 3px;
    background-color: $main-dark;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__header {
    position: relative;
    background-color: #e2e2e2;
    padding: 15px;
    min-height: 40px;
  }

  &__close {
    &-btn {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }

    &-icon {
      @include size(16px);
    }
  }

  &__content,
  &-outer {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transition-duration: .2s;
    overflow: auto;
    z-index: 99;

    &_opend {
      left: 0;
    }
  }

  &-outer {
    &__list {
      padding: 0;
    }
  }

  &__back {
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      border-right: 1px solid $main-dark;
      height: 100%;
      width: 40px;
      top: 0;
    }

    &-icon {
      transform: rotate(-180deg);

      @include size(16px);
    }
  }

  &-nav {
    &__arrow {
      position: absolute;
      fill: $main-dark;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;

      @include size(12px);
    }

    &__list {
      padding-left: 0;
    }

    &__item {
      position: relative;
      padding-left: 0;
      margin: 0;

      &:not(:last-child) {
        border-bottom: 1px solid #e7e7e7;
      }

      &:before {
        display: none;
      }
    }

    &__link {
      display: block;
      text-decoration: none;
      color: $main-dark;
      transition: .3s;
      padding: 8px 15px;
      font-size: 16px;
    }
  }

  &-block {

    &__title {
      font-family: "Lato-Medium";
      display: block;
      padding: 10px 15px;
      background-color: #f3f3f3;
    }

    &__content {
      padding: 0 15px;
    }
  }
}