.request-form
    .request-form__wrap
        h4.request-form__title Закажите бесплатный выезд на объект
        form(action="#").request-form__block
            input(type="text" placeholder="Ваше имя:").request-form__field
            input(type="tel" placeholder="Ваш телефон:").request-form__field.mask-phone
            button.btn.request-form__btn Оставить заявку
            p.request-form__policy Отправляя форму, вы даете согласие на обработку ваших персональных данных и принимаете нашу политику конфиденциальности. Ваши данные будут в безопасности.