.popup.popup-trials.mfp-hide#popup-trials
    a(href="javascript:void(0);").popup-close
        +icon('close', 'popup-close__icon')
    .request-form.popup-callback__form
        .popup-trials__body
            h3.popup-trials__title Основные испытания
            .popup-trials__content
                ul.popup-trials__list
                    li.popup-trials__item
                        a(href="#").popup-trials__link Металлосвязть
                    li.popup-trials__item
                        a(href="#").popup-trials__link Петля фаза - ноль
                    li.popup-trials__item
                        a(href="#").popup-trials__link Сопротивление изоляции проводника
                    li.popup-trials__item
                        a(href="#").popup-trials__link Проверка автоматики
                    li.popup-trials__item
                        a(href="#").popup-trials__link Контур заземления
                    li.popup-trials__item
                        a(href="#").popup-trials__link Металлосвязть
                    li.popup-trials__item
                        a(href="#").popup-trials__link Петля фаза - ноль
                    li.popup-trials__item
                        a(href="#").popup-trials__link Сопротивление изоляции проводника
                    li.popup-trials__item
                        a(href="#").popup-trials__link Проверка автоматики
                    li.popup-trials__item
                        a(href="#").popup-trials__link Контур заземления
                ul.popup-trials__list
                    li.popup-trials__item
                        a(href="#").popup-trials__link Металлосвязть
                    li.popup-trials__item
                        a(href="#").popup-trials__link Петля фаза - ноль
                    li.popup-trials__item
                        a(href="#").popup-trials__link Сопротивление изоляции проводника
                    li.popup-trials__item
                        a(href="#").popup-trials__link Проверка автоматики
                    li.popup-trials__item
                        a(href="#").popup-trials__link Контур заземления
                    li.popup-trials__item
                        a(href="#").popup-trials__link Металлосвязть
                    li.popup-trials__item
                        a(href="#").popup-trials__link Петля фаза - ноль
                    li.popup-trials__item
                        a(href="#").popup-trials__link Сопротивление изоляции проводника
                    li.popup-trials__item
                        a(href="#").popup-trials__link Проверка автоматики
                    li.popup-trials__item
                        a(href="#").popup-trials__link Контур заземления