.calculator.callback.lazyload(data-src="images/content/callback-bg.jpg")
    .calculator__wrap.callback__wrap
        .container
            h2.section-title.calculator__title Остались вопросы?
            p.calculator__desc.callback__desc Звоните нам по телефону <a href="#" class="callback__phone-link">+7 (495) 589-96-11</a> или оставьте заявку для обратного звонка.
            p.calculator__desc.callback__desc Оставьте ваш номер и мы перезвоним Вам!
            form.calculator-form
                .calculator-form__group
                    input(type="text" placeholder="Ваше имя:").calculator-form__field
                    input(type="text" placeholder="Ваш телефон:").calculator-form__field.mask-phone
                a(href="#popup-success").btn.calculator-form__btn.js-popup-link Оставить заявку
                p.calculator-form__policy Отправляя форму, вы даете согласие на обработку ваших персональных данных и принимаете нашу политику конфиденциальности. Ваши данные будут в безопасности.
            img(data-src="images/content/callback-wooman.png").lazyload.calculator__man