.banner {
  background-repeat: no-repeat;
  background-position: left -130px;
  background-color: #4c4c4c;

  &__wrap {
    background-color: rgba(0, 0, 0, .6);
    padding: 60px 0;

    @media screen and(max-width: 960px) {
      padding: 30px 0;
    }

    & .container {
      position: relative;

      @media screen and(max-width: 960px) {
        display: flex;
        align-items: center;
      }

      @media screen and(max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  &__info {
    max-width: 705px;

    @media screen and(max-width: 1140px) {
      max-width: 500px;
    }

    @media screen and(max-width: 960px) {
      flex: 1;
    }

    @media screen and(max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      width: 100%;
    }
  }

  &__title {
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.2;

    @media screen and(max-width: 1140px) {
      font-size: 48px;
    }

    @media screen and(max-width: 960px) {
      font-size: 32px;
    }

    @media screen and(max-width: 768px) {
      text-align: center;
    }

    @media screen and(max-width: 540px) {
      font-size: 24px;
    }
  }

  &-list {
    padding-left: 0;

    &__item {
      font-family: "Lato-Medium";
      margin-bottom: 0;
      color: #ffffff;
      font-size: 18px;
      background-image: url(../images/content/lightning.png);
      background-repeat: no-repeat;
      background-position: left center;
      padding: 12px 35px;

      @media screen and(max-width: 960px) {
        font-size: 16px;
      }

      &:before {
        display: none;
      }

      &_color {
        font-family: "Lato-Black";
        color: $main-yellow;
      }
    }
  }
}