.banner(style="background-image: url('../images/content/banner-bg.jpg');")
    .banner__wrap
        .container
            .banner__info
                h1.banner__title Электротехническая лаборатория в Москве и МО
                ul.banner-list
                    li.banner-list__item Измерения до <span class="banner-list__item_color">35 кВт</span>
                    li.banner-list__item <span class="banner-list__item_color">Бесплатный</span> вызов на замер
                    li.banner-list__item Все разрешительные <span class="banner-list__item_color">документы</span>
                    li.banner-list__item <span class="banner-list__item_color">42</span> различных протокола испытаний
            include ../forms/request/request