.price
    .container
        h2.section-title.price__title Цены на измерительные приборы
        p.price__desc Прайс-лист приведен справочно. На конечную цену влияет площадь объекта и удаленность.
        table
            thead
                tr
                    td Наименование работ
                    td Единица измерения
                    td Цена
            tbody
                tr
                    td Проверка наличия цепи между заземлителями и заземленными элементами (металлосвязь)
                    td 1 точка
                    td 40, 00 руб.
                tr
                    td Измерение сопротивления изоляции мегаомметром кабельных и других линий напряжением до 1 кв.
                    td 1 линия:
                        span.table_ln 3 жилы
                        span.table_ln 5 жил
                    td(style="vertical-align: bottom")
                        span.table_ln 120, 00 руб.
                        span.table_ln 150, 00 руб.
                tr
                    td Замер полного сопротивления цепи«фаза-нуль»
                    td 1 токоприемник
                    td 140, 00 руб.
                tr
                    td Испытвние автоматических выключателей
                    td 1-полюсный автомат
                        span.table_ln 3-полюсный автомат:
                        span.table_ln до 50 А
                        span.table_ln до 200 А
                        span.table_ln до 1000 А
                        span.table_ln 1000 А
                    td 90, 00 руб. <br><br>
                        .table_ln
                        span.table_ln 180, 00 руб.
                        span.table_ln 230, 00 руб.
                        span.table_ln 360, 00 руб.
                        span.table_ln 480, 00 руб.
                tr
                    td Проверка и испытание УЗО
                    td 1 устройство
                    td 130, 00 руб.
                tr
                    td Измерение сопротивления заземляющих устройств
                    td 1 контур
                    td 8 000, 00 руб.
                tr
                    td Протокол визуального осмотра
                    td шт
                    td 3 000, 00 руб.
                tr
                    td Составление однолинейной схемы
                    td шт
                    td от 2 000, 00 руб.
                tr
                    td Проверка молниезащиты с выдачей технического отчета
                    td
                    td 8 000, 00 руб.
                tr
                    td Проверка сопротивления заземляющего контура с выдачей технического отчета
                    td
                    td 8 000, 00 руб.