footer.footer
    .footer__top
        .container
            a(href="#").footer-logo
                img(src="images/content/footer-logo.png" alt="Логотип")
                .footer-logo__info
                    span.footer-logo__title ООО "ТСКБ"-Гранит
                    span.footer-logo__desc Технологическая системная компания
            .footer__side
                span.footer__text г.Одинцово, ул.Западная, д.13
                span.footer__text Ежедневно с 09:00 до 18:00
            .footer__side
                a(href="tel:+74955969611").footer__phone +7 (495) 596-96-11
                a(href="mailto:tskbgranit@yandex.ru").footer__email tskbgranit@yandex.ru
            a(href="#").callback-link Заказать звонок
    .footer__bottom
        .container
            .footer-copy
                span.footer-copy__text © 2021 ООО "ТСКБ"-Гранит
                span.footer-copy__line |
                a(href="#").footer-copy__policy Политика обработки и защиты персональных данных
            span.footer-developer Сайт разработан с <a href="#" class="footer-developer__link">ВебКенгуру</a>