.info
    .container
        p.info__text <span class="info__text_width">Одним из основных и актуальных направлений работы компании <a href="#" class="info__text-link">«ТСКБ-Гранит»</a> является проведение электроизмерений. Наша передвижная электролаборатория имеет полный комплект современных переносных приборов высокой точности, при проведении электроизмерений мы используем только передовые технологии. Все приборы имеют сертификаты соответствия и ежегодно поверяются. Используемые в электролаборатории методики проведения электроизмерений и испытаний согласованы со специалистами Ростехнадзора по г. Москве.</span>
            | Электроизмерительная лаборатория нашей компании имеет все разрешительные документы, выданные управлением по технологическому и экологическому надзору Ростехнадзора по г. Москве, дающие право на проведение данного вида работ.
        p.info__registration Свидетельство о регистрации электролаборатории: <a href="#" class="info__registration-link">Регистрационный № 4711-2 от «2» декабря 2016 года</a>
        .info__wrap
            .info-block
                h3.info-block__title Зачем нужны услуги электролаборатории?
                ul.info-block__list
                    li.info-block__item
                        span.info-block__item_width Для исключения возможности повреждения электросети
                    li.info-block__item
                        span.info-block__item_width Для предотвращения поломок дорогостоящего оборудования
                    li.info-block__item
                        span.info-block__item_width Для обеспечения налаженной поставки электроэнергии потребителям
            .info-block
                h3.info-block__title Что если не проводить испытания?
                p.info-block__desc Качественно проведенные лабораторные испытания не только позволят выявить проблемы в электропроводке и своевременно устранить их, но и подготовиться к проверке Госпожнадзора и Ростехнадзора, избежать штрафов и серьезных предписаний.<span class="info-block__desc_ln">Если придет проверка, а протокол отсутствует, дата на нем старая или проводила незарегистрированная лаборатория — предприятию грозят штрафы:</span><span class="info-block__desc_ln"><span class="info-block__desc_fw">20.000 — 40.000 руб.</span> со стороны Ростехнадзора + приостановка деятельности на 90 дней;</span><span class="info-block__desc_ln"><span class="info-block__desc_fw">150.000 — 200.000 руб.</span> со стороны МЧС за несоблюдение норм пожарной безопасности (КоАП РФ, Статья 9.11).</span>