html {
  font-family: "Lato-Light", sans-serif;
  font-size: $base-font-size;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: $main-dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 60px;
}

h2 {
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 45px;
}

h3 {
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 30px;
}

h4 {
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
}

h5 {
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
}

ul {
  list-style: none;
  padding-left: 10px;
}

ul > li {
  position: relative;
  font-family: "Lato-Light", sans-serif;
  padding-left: 20px;
  margin-bottom: 11px;

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: $main-blue;
    left: 0;
    top: 10px;
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

table {
  position: relative;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: auto;

  @media screen and(max-width: 640px) {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
  }
}

td {
  max-width: 600px;
  padding: 12px 20px 12px 20px;

  @media screen and(max-width: 820px) {
    font-size: 14px;
    max-width: 400px;
  }

  @media screen and(max-width: 640px) {
    width: 200px;
    font-size: 12px;
  }
}

thead {
  background-color: $main-blue;

  @media screen and(max-width: 640px) {
    width: 620px;
  }

  td {
    font-family: "Lato-Medium", sans-serif;
    color: #ffffff;
    font-size: 18px;

    @media screen and(max-width: 820px) {
      font-size: 16px;
    }

    @media screen and(max-width: 640px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      border-right: 1px solid #dde1e2;
    }

    &:not(:first-child) {
      text-align: center;
    }
  }
}

tr {
  width: 100%;
}

tbody {
  @media screen and(max-width: 640px) {
    width: 600px;
  }

  tr {
    &:nth-child(2n) {
      background-color: #fafafa;
    }
  }

  td {
    font-family: "Lato-Regular", sans-serif;
    padding: 12px 20px 12px 20px;

    &:not(:last-child) {
      border-right: 1px solid #dde1e2;
    }

    &:not(:first-child) {
      text-align: center;
    }

    &:nth-child(1n) {
      vertical-align: top;
    }

    &:nth-child(2n) {
      font-family: "Lato-Light", sans-serif;
    }

    &:nth-child(3n) {
      font-family: "Lato-Bold", sans-serif;
    }
  }
}

.table {
  &_ln {
    display: block;
    padding: 5px 0;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

textarea {
  resize: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
  padding: 0 15px;
}

.main-list {
  &__title {
    font-family: "Lato-Bold", sans-serif;
    padding-bottom: 20px;
  }

  &__item {
    &_fw {
      font-family: "Lato-Bold", sans-serif;
    }
  }
}

.section-title {
  position: relative;
  padding-top: 20px;
  line-height: 1;

  @media screen and(max-width: 960px) {
    font-size: 32px;
  }

  @media screen and(max-width: 540px) {
    font-size: 26px;
  }

  @media screen and(max-width: 420px) {
    font-size: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: $main-blue;
    width: 55px;
    height: 3px;
    top: 0;
  }
}

.title-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-button-prev,
.swiper-button-next {
  outline: none;
}

.swiper-button-prev {
  transform: rotate(-180deg);
}

.swiper-button-icon {
  fill: #a4a7a7;
  transition: 0.3s;

  @include size(26px);

  @media screen and(max-width: 540px) {
    @include size(18px);
  }

  &:hover {
    fill: $main-blue;
  }
}

.swiper-navigation {
  position: relative;
  width: 110px;

  @media screen and(max-width: 540px) {
    width: 90px;
  }
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}
